# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/*
/inc/*
/inc/plugins/*
/inc/languages/*.*
/inc/languages/polish/*
/inc/languages/english/*
/inc/languages/polish/admin/*
/inc/languages/english/admin/*
!/inc/
!/inc/plugins/
!/inc/languages/
!/inc/languages/polish/admin/
!/inc/languages/english/admin/
!/inc/plugins/lightavatars.php
!/inc/languages/polish/admin/config_lightavatars.lang.php
!/inc/languages/english/admin/config_lightavatars.lang.php
!/resources/
