.lavatar-hide {
    display: none !important;
}

.lavatar-alaipb, .lavatar-old, .lavatar-normal {
	position: relative;
}

.lavatar-alaipb-n, .lavatar-old-n, .lavatar-normal-n, .lavatar-alaipb-f, .lavatar-old-f, .lavatar-normal-f {
	float: left;
}

.lavatar-alaipb-n, .lavatar-old-n, .lavatar-normal-n {
    padding: 3% 4% 3% 2%;
}

.lavatar-alaipb-f, .lavatar-old-f, .lavatar-normal-f {
	padding: 0 4% 0 2%;
}

.lavatar-alaipb-m, .lavatar-old-m, .lavatar-normal-m {
	padding: 0 2% 0 0;
	display: inline-block;
	vertical-align: middle;
}

.lavatar-alaipb a {
	display: inline-block;
	border: 1px solid #aaa;
	width: 32px;
	height: 32px;	
}

.lavatar-alaipb img {
	width:30px;
	border: 1px solid #000;
}

.lavatar-old a {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.lavatar-old img {
	width: 31px;
	height: 31px;
	border-radius: 100%;
	border: 1px solid #ccc;
}

.lavatar-normal a {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.lavatar-normal img {
	width: 31px;
	height: 31px;
	border: 1px solid #ccc;
}

/*there is example class*/
.lavatar-example img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*now open plugin settings and add "example" after last style in  forumbit_depth2_forum_lastpost input.*/
/*Try it Yourself*/
